@model GameAndHang.Models.Event
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <h2 id="eventName" align="center" style="padding-top: 20px; font-size: 50px">
        @Html.DisplayFor(model => model.EventName)
    </h2>
    <hr />
    <dl class="dl-horizontal">
        <dt style="padding-top:6px; height: 168px; border-bottom:solid">
            <div style="text-align:center; font-weight:bold; margin-bottom:7px;">-Host Info-</div>
              First Name:
            <br />
            <br />
            User Name:
            <br />
            XP Gained:
        </dt>
        <dd>
            <br />
            @Html.ActionLink(Model.User.FirstName, "HostProfile", "Users", Model.User.AspNetUser, null)
            @if (Model.User.ProfilePic == null)
            {
            <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
            }
            else {
            string imageBase64 = Convert.ToBase64String(Model.User.ProfilePic);
            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
            <img src="@imageSrc"  id="profPic" />
            }
            <br />
            @Html.DisplayFor(model => model.User.DisplayName),
            <br />
            @Html.DisplayFor(model => model.User.HostXP)
        </dd>

        <dt style="height:120px; ">
            <div style="text-align:center; font-weight:bold;">-Event Info-</div>
            Event Type
            <div style="margin-top:13px;">Event Date</div>
        </dt>

        <dd>
            <br />
            @if (Model.IsPublic == true)
            {
                <p>Public</p>
            }
            else
            {
                <p>Private</p>
            }
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>Event Description</dt>
        <dd>@Html.DisplayFor(model => model.EventDescription)</dd>
        <dt style="border-bottom:solid"> Event Location</dt>
        <dd>@Html.DisplayFor(model => model.EventLocation)</dd>
        <dt style="border-bottom:solid">Min Players</dt>
        <dd>@Html.DisplayFor(model => model.PlayerSlotsMin)</dd>
        <dt style="border-bottom:solid">Max Players</dt>
        <dd>@Html.DisplayFor(model => model.PlayerSlotsMax)</dd>
        <dt>Current player count</dt>
        <dd>@Html.DisplayFor(model => model.PlayersCount)</dd>
        @if (Model.UnsupGames != null)
        {
        <dt>Unsupported Game</dt>
        <dd>@Html.DisplayFor(model => model.UnsupGames)</dd>
        }
    </dl>
</div>

<br />

    @if (Model.IsPublic == true)
    {
        if (Model.EventPlayers.Select(x => x.PlayerID).Contains(User.Identity.GetUserId()))
        {
            <p style="font-size:20px">You are signed up for this event</p>
        }
        else
        {
            if (Model.PlayersCount != Model.PlayerSlotsMax)
            {
                if (User.Identity.GetUserId() != null)
                {
                    <div id="signUpButton">
                        @Html.ActionLink("Sign up", "Create", "EventPlayers", Model, null)
                    </div>
                }
                else
                {
                    <p style="font-size:20px">Please Login to Sing up for this event</p>
                }
            }
            else
            {
                <p style="font-size:20px">This event is full</p>
            }
        }
    }
    else
    {
        <p style="font-size:20px">This is a private event</p>
    }




<style type="text/css">

    dl {
        display: flex;
        flex-flow: row wrap;
        border:solid;
        border-radius:1%;
        border-width: 3px;
        font-weight:400;
        background-color:#08415C;
        border-color:white;

    }

    dt {
        flex-basis: 20%;
        font-size: 20px;
        padding: 2px 4px;
        text-align: right;
        color: white;
        border-right-style:solid;
        height:50px;
        font-weight:400;
    }

    dd {
        flex-basis: 70%;
        font-size: 20px;
        flex-grow: 1;
        margin: 0;
        padding: 2px 4px;
        color: white;
        margin-left: 5px;
    }
    #eventName {
        border: solid;
        border-radius: 1%;
        border-width: 3px;
        background-color: #08415C;
        margin-top: 10px;
        color: white;
        border-color: white;
    }
    #profPic {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    #signUpButton{
        color: white;
        margin-bottom:10px;
        font-size:20px;
    }
    body {
        background-color: #93B7BE
    }
</style>


<p>
    @Html.ActionLink("Back to Events", "Index")
</p>
