@model GameAndHang.Models.Event
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

<h2 align="center" style="padding-top: 20px;
font-size: 50px">@Html.DisplayFor(model => model.EventName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Host
            @*@Html.DisplayNameFor(model => model.User.CredentialsID)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            Event Type
            @*@Html.DisplayNameFor(model => model.IsPublic)*@
        </dt>

        <dd>
            @if (Model.IsPublic == true)
            {
                <p>Public</p>
            }
            else
            {
                <p>Private</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Event Description
            @*@Html.DisplayNameFor(model => model.EventDescription)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

        <dt>
            Event Location
            @*@Html.DisplayNameFor(model => model.EventLocation)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventLocation)
        </dd>

        <dt>
            Min Players
            @*@Html.DisplayNameFor(model => model.PlayerSlotsMin)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerSlotsMin)
        </dd>

        <dt>
            Max Players
            @*@Html.DisplayNameFor(model => model.PlayerSlotsMax)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerSlotsMax)
        </dd>

        <dt>
            Current player count
            @*@Html.DisplayNameFor(model => model.PlayerSlotsMax)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayersCount)
        </dd>

        <dt>
            Unsupported Game
            @*@Html.DisplayNameFor(model => model.UnsupGames)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnsupGames)
        </dd>

    </dl>
</div>

<br />

    @if (Model.IsPublic == true)
    {
        if (Model.EventPlayers.Select(x => x.PlayerID).Contains(User.Identity.GetUserId()))
        {
            <p style="font-size:20px">You are signed up for this event</p>
        }
        else
        {
            if (Model.PlayersCount != Model.PlayerSlotsMax)
            {
                if (User.Identity.GetUserId() != null)
                {
                    <div class="btn btn-primary" style="color:white">
                        @Html.ActionLink("Sign up", "Create", "EventPlayers", Model, null)
                    </div>
                }
                else
                {
                    <p style="font-size:20px">Please Login to Sing up for this event</p>
                }
            }
            else
            {
                <p style="font-size:20px">This event is full</p>
            }
        }
    }
    else
    {
        <p style="font-size:20px">This is a private event</p>
    }




<style type="text/css">

    dl {
        display: flex;
        flex-flow: row wrap;
    }

    dt {
        flex-basis: 20%;
        font-size: 20px;
        padding: 2px 4px;
        text-align: right;
        color: #0078D7;
    }

    dd {
        flex-basis: 70%;
        font-size: 20px;
        flex-grow: 1;
        margin: 0;
        padding: 2px 4px;
    }
</style>


<p>
    @Html.ActionLink("Back to Events", "Index")
</p>
