@model GameAndHang.Models.Event
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <h2 id="eventName" align="center" style="padding-top: 20px; font-size: 50px">
        @Html.DisplayFor(model => model.EventName)
    </h2>
    <hr />
    <dl class="dl-horizontal">
        <dt style="border-top-style:double; height: 168px; border-bottom:double">
            <div style="text-align:center; font-weight:bold; margin-bottom:7px;">-Host Info-</div>
              First Name:
            <br />
            <br />
            User Name:
            <br />
            XP Gained:
        </dt>

        <dd>
            <br />
            @Html.ActionLink(Model.User.FirstName, "HostProfile", "Users", Model.User.AspNetUser, null) <img src="https://cdn.discordapp.com/attachments/664532703064096797/682074680122933318/ChewyProfPic.jpeg" id="profPic" />
            <br />
            @Html.DisplayFor(model => model.User.DisplayName),
            <br />
            @Html.DisplayFor(model => model.User.HostXP)
        </dd>

        <dt style="height:120px; ">
            <div style="text-align:center; font-weight:bold;">-Event Info-</div>
            Event Type
            <div style="margin-top:13px;">Event Date</div>
        </dt>

        <dd>
            <br />
            @if (Model.IsPublic == true)
            {
                <p>Public</p>
            }
            else
            {
                <p>Private</p>
            }
            @Html.DisplayFor(model => model.Date)
        </dd>


        <dt>
            Event Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

        <dt style="border-bottom:double">
            Event Location
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventLocation)
        </dd>

        <dt style="border-bottom:double">
            Min Players
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerSlotsMin)
        </dd>

        <dt style="border-bottom:double">
            Max Players
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerSlotsMax)
        </dd>

        <dt style="border-bottom:double">
            Current player count
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayersCount)
        </dd>

        @if (Model.UnsupGames != null)
        {
        <dt style="border-bottom:double">
            Unsupported Game
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnsupGames)
        </dd>
        }
    </dl>
</div>

<br />

    @if (Model.IsPublic == true)
    {
        if (Model.EventPlayers.Select(x => x.PlayerID).Contains(User.Identity.GetUserId()))
        {
            <p style="font-size:20px">You are signed up for this event</p>
        }
        else
        {
            if (Model.PlayersCount != Model.PlayerSlotsMax)
            {
                if (User.Identity.GetUserId() != null)
                {
                    <div id="signUpButton">
                        @Html.ActionLink("Sign up", "Create", "EventPlayers", Model, null)
                    </div>
                }
                else
                {
                    <p style="font-size:20px">Please Login to Sing up for this event</p>
                }
            }
            else
            {
                <p style="font-size:20px">This event is full</p>
            }
        }
    }
    else
    {
        <p style="font-size:20px">This is a private event</p>
    }




<style type="text/css">

    dl {
        display: flex;
        flex-flow: row wrap;
        border:solid;
        border-radius:1%;
        border-width: 3px;
        background-color:#93B7BE;
        font-weight:400;
    }

    dt {
        flex-basis: 20%;
        font-size: 20px;
        padding: 2px 4px;
        text-align: right;
        color: black;
        border-right-style:double;
        border-left-style:double;
        height:50px;
        font-weight:400;
    }

    dd {
        flex-basis: 70%;
        font-size: 20px;
        flex-grow: 1;
        margin: 0;
        padding: 2px 4px;
        color: black;
        margin-left: 5px;
    }
    #eventName{
        border:solid;
        border-radius:1%;
        border-width: 3px;
        background-color:#93B7BE;
        margin-top: 10px;
        color: black;
        border-color:Highlight;
    }
    #profPic{
        width: 70px;
        height: 70px;
        border-radius:50%;
    }
    #signUpButton{
        color: white;
        margin-bottom:10px;
        font-size:20px;
    }
</style>


<p>
    @Html.ActionLink("Back to Events", "Index")
</p>
