@model GameAndHang.Models.Event
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.EventName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Host
            @*@Html.DisplayNameFor(model => model.User.CredentialsID)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            Event Name
            @*@Html.DisplayNameFor(model => model.EventName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            Event Type
            @*@Html.DisplayNameFor(model => model.IsPublic)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Event Description
            @*@Html.DisplayNameFor(model => model.EventDescription)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

        <dt>
            Event Location
            @*@Html.DisplayNameFor(model => model.EventLocation)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventLocation)
        </dd>

        <dt>
            Min Players
            @*@Html.DisplayNameFor(model => model.PlayerSlotsMin)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerSlotsMin)
        </dd>

        <dt>
            Max Players
            @*@Html.DisplayNameFor(model => model.PlayerSlotsMax)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerSlotsMax)
        </dd>

        <dt>
            Unsupported Game
            @*@Html.DisplayNameFor(model => model.UnsupGames)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnsupGames)
        </dd>

    </dl>
</div>

@if (Model.EventPlayers.Select(x => x.PlayerID).Contains(User.Identity.GetUserId()))
{
    <p>You are signed up for this event</p>
}
else
{
    if (Model.PlayersCount != Model.PlayerSlotsMax)
    {
        if (User.Identity.GetUserId() != null)
        {
            <div class="btn btn-primary">
                @Html.ActionLink("Sign up", "Create", "EventPlayers", Model, null)
            </div>
        }
        else
        {
            <p>Please Login to Sing up for this event</p>
        }
    }
    else
    {
        <p>This event is full</p>
    }
}




<p>
    @Html.ActionLink("Back to List", "Index")
</p>
