@model IEnumerable<GameAndHang.Models.Event>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Host
            @*@Html.DisplayNameFor(model => model.User.FirstName)*@
        </th>
        <th>
            Event Name
            @*@Html.DisplayNameFor(model => model.EventName)*@
        </th>
        <th>
            Event Type
            @*@Html.DisplayNameFor(model => model.IsPublic)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Event Description
            @*@Html.DisplayNameFor(model => model.EventDescription)*@
        </th>
        <th>
            Event Location
            @*@Html.DisplayNameFor(model => model.EventLocation)*@
        </th>
        <th>
            Min Players
            @*@Html.DisplayNameFor(model => model.PlayerSlotsMin)*@
        </th>
        <th>
            Max Players
            @*@Html.DisplayNameFor(model => model.PlayerSlotsMax)*@
        </th>
        <th>
            Unsupported Game
            @*@Html.DisplayNameFor(model => model.UnsupGames)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.User.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EventName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsPublic)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EventDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EventLocation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PlayerSlotsMin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PlayerSlotsMax)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnsupGames)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EventGames)
    </td>
    <td>
        @if (item.HostID == User.Identity.GetUserId())
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
        } |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
