@model IEnumerable<GameAndHang.Models.Event>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}
<h2 align="center" style="padding-top: 20px">Events</h2>
<p align="center">If you would like to sign up for an event click on the event details link. You can 
    also view a hosts profile by clicking on their name.</p>


<p align="center">
    @if (User.Identity.GetUserId() != null)
    {
    @Html.ActionLink("Click here host your own event", "Create")
    }
</p>
<table class="table">
    <tr style="text-align:left">
        <th>
            Host
            @*@Html.DisplayNameFor(model => model.User.FirstName)*@
        </th>
        <th>
            Event Name
            @*@Html.DisplayNameFor(model => model.EventName)*@
        </th>
        <th>
            Event Type
            @*@Html.DisplayNameFor(model => model.IsPublic)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Description
            @*@Html.DisplayNameFor(model => model.EventDescription)*@
        </th>
        <th>
            Location
            @*@Html.DisplayNameFor(model => model.EventLocation)*@
        </th>
        <th>Lat</th>
        <th>
            Min Players
            @*@Html.DisplayNameFor(model => model.PlayerSlotsMin)*@
        </th>
        <th>
            Max Players
            @*@Html.DisplayNameFor(model => model.PlayerSlotsMax)*@
        </th>
        <th>
            Unsupported Game
            @*@Html.DisplayNameFor(model => model.UnsupGames)*@
        </th>
        <th>
            Supported Game
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.ActionLink(item.User.FirstName, "HostProfile", "Users", item.User.AspNetUser, null)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EventName)
    </td>
    <td>
        @if (item.IsPublic == true)
        {
            <p>Public</p>
        }
        else
        {
            <p>Private</p>
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EventDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EventLocation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EventLat)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PlayerSlotsMin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PlayerSlotsMax)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnsupGames)
    </td>

    <td>
        @foreach (var game in item.EventGames)
        {
            @Html.DisplayFor(modelItem => game.Game.Name)
            <br />
        }
    </td>
    <td>
        @if (item.HostID == User.Identity.GetUserId())
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
        }
        @if (item.PlayersCount == item.PlayerSlotsMax)
        {
            <p>This event is Full</p>
        }
        else
        {
            @Html.ActionLink("Details", "Details", new { id = item.ID });
        }

    </td>
</tr>
}

</table>
