@model IEnumerable<GameAndHang.Models.Event>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}                                 

    <div class="jumbotron" style="background-color:#08415C" id="Title">
        <h1 style="text-align:center; font-size:55px; color:white">Events</h1>
        <p style="text-align: center; font-size: 22px; color: white" class="lead">
            If you would like to sign up for an event click on the event details link. You can
            also view a hosts profile by clicking on their name
        </p>
        <p align="center" style="font-size: 22px; color: white">
            @if (User.Identity.GetUserId() != null)
            {
                @Html.ActionLink("Click here to host your own event", "Create")
            }
        </p>
    </div>
<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="card" id="card">
                <h4 class="card-title" align="center" style="--animation-order: 3;">@item.EventName</h4>
                <p class="card-text" align="center"> Host: @Html.ActionLink(item.User.FirstName, "HostProfile", "Users", item.User.AspNetUser, new { @class = "my-class" })  </p>
                @if (item.IsPublic == true)
                {
                    <p class="card-text" align="center"> Event type: Public</p>
                }
                else
                {
                    <p class="card-text" align="center" style="font-style:italic;">Event type: Private</p>
                }
                <p class="card-text" align="center"> @item.Date </p>
                <p class="card-text" align="center"> Location: @item.EventLocation </p>
                @if (item.PlayerSlotsMax == item.PlayersCount)
                {
                    <p class="card-text" align="center">This event is full</p>
                }
                @if (item.HostID == User.Identity.GetUserId())
                {
                    <p class="card-text" align="center"> @Html.ActionLink("Edit", "Edit", new { id = item.ID }) </p>
                }
                @if (item.PlayersCount < item.PlayerSlotsMax)
                {
                    <p class="card-text" align="center">  @Html.ActionLink("Details", "Details", new { id = item.ID }) </p>
                }
            </div>
        </div>
    }
</div>


<link href="~/Content/EventsList.css" rel="stylesheet" />

