@model IEnumerable<GameAndHang.Models.Event>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

    <div class="jumbotron" style="background-color:#08415C" id="Title">
        <h1 style="text-align:center; font-size:55px; color:white">Events</h1>
        <p style="text-align: center; font-size: 22px; color: white" class="lead">
            If you would like to sign up for an event click on the event details link. You can
            also view a hosts profile by clicking on their name
        </p>
        <p align="center" style="font-size: 22px; color: white">
            @if (User.Identity.GetUserId() != null)
            {
                @Html.ActionLink("Click here to host your own event", "Create")
            }
        </p>
    </div>
<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="card" id="card">
                <h4 class="card-title" align="center" style="--animation-order: 3;">@item.EventName</h4>
                <p class="card-text" align="center"> Host: @Html.ActionLink(item.User.FirstName, "HostProfile", "Users",new { host = item.User.AspNetUser.Id.ToString() }, htmlAttributes: new { title = "Users"})  </p>
                @if (item.IsPublic == true)
                {
                    <p class="card-text" align="center"> Event type: Public</p>
                }
                else
                {
                    <p class="card-text" align="center" style="font-style:italic;">Event type: Private</p>
                }
                <p class="card-text" align="center"> @item.Date </p>
                <p class="card-text" align="center"> Location: @item.EventLocation </p>
                @if (item.PlayerSlotsMax == item.PlayersCount)
                {
                    <p class="card-text" align="center">This event is full</p>
                }
                @if (item.HostID == User.Identity.GetUserId())
                {
                    <p class="card-text" align="center"> @Html.ActionLink("Edit", "Edit", new { id = item.ID }) </p>
                }
                @if (item.PlayersCount < item.PlayerSlotsMax)
                {
                    <p class="card-text" align="center">  @Html.ActionLink("Details", "Details", new { id = item.ID }) </p>
                }
            </div>
        </div>
    }
</div>



<style>
    body {
        background-color: #93b7b6;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%238eb0b1' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2388a9ab' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2383a3a6' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%237d9ca0' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2378959b' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }

    #Title {
        border-style: solid;
        border-color: white;
        border-width: 2.8px;
    }

    #card {
        border: solid;
        border-color: white;
        background-color: #08415C;
        color: white;
        padding: 8px;
        border-width: 4px;
        border-radius: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
</style>
























@*<table class="table">
        <tr style="text-align:left">
            <th>
                Host
            </th>
            <th>
                Event Name
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                Event Type
                @Html.DisplayNameFor(model => model.IsPublic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Description
                @Html.DisplayNameFor(model => model.EventDescription)
            </th>
            <th>
                Location
                @Html.DisplayNameFor(model => model.EventLocation)
            </th>
            <th>
                Min Players
                @Html.DisplayNameFor(model => model.PlayerSlotsMin)
            </th>
            <th>
                Max Players
                @Html.DisplayNameFor(model => model.PlayerSlotsMax)
            </th>
            <th>
                Unsupported Game
                @Html.DisplayNameFor(model => model.UnsupGames)
            </th>
            <th>
                Supported Game
            </th>
        </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.User.FirstName, "HostProfile", "Users", item.User.AspNetUser, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @if(item.IsPublic == true)
            {
                <p>Public</p>
            }
            else
            {
                <p>Private</p>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerSlotsMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerSlotsMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnsupGames)
        </td>

        <td>
            @foreach (var game in item.EventGames)
            {
                @Html.DisplayFor(modelItem => game.Game.Name)
                <br />
            }
        </td>
        <td>
            @if (item.HostID == User.Identity.GetUserId())
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            }
            @if (item.PlayersCount == item.PlayerSlotsMax)
            {
                <p>This event is Full</p>
            }
            else
            {
                @Html.ActionLink("Details", "Details", new { id = item.ID });
            }

        </td>
    </tr>
    }

    </table>*@
