@model IEnumerable<GameAndHang.Models.Event>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "SearchBox";
}

<br />

<body onload="getUserLoc()">

    <br />

    <div class="jumbotron" style="background-color:#08415C" id="Title">
        <h3 style="text-align:center; font-size:55px; color:white">
            Search for an Event!
        </h3>


        <br />

        @*<div class="container">*@
        <br />
        <div class="row">
            @*<div class="col-lg">*@
            @*<div class="col-md-10">*@
            <br />
            <div style="padding: 5px 5px; text-align: center; font-size: 22px; color: white" @*class="row"*@>
                Search by Event Name
            </div>
            <div style="padding: 5px 5px; margin: 5px 5px" @*class="row"*@>
                @using (Html.BeginForm("Search", "Events", FormMethod.Get))
                {
                    @Html.TextBox("search")
                    @*@Html.Hidden("UserLat", "", new { @id = "userlat" })
                        @Html.Hidden("UserLong", "", new { @id = "userlong" })*@
                    <input hidden name="UserLat" id="userlat" type="text" />
                    <input hidden name="UserLong" id="userlong" type="text" />
                    <br />
                    <input id="userlochere" type="submit" value="Search" style="padding: 5px 5px; margin: 5px 5px" />
                }
            </div>
            @*</div>*@
            <br />
            @*<div class="col-md-10">*@
            <br />
            <div style="padding: 5px 5px; text-align: center; font-size: 22px; color: white" @*class="row"*@>
                Search by Game
            </div>
            <div style="padding: 5px 5px; margin: 5px 5px" @*class="row"*@>
                @using (Html.BeginForm("SearchBox", "Events", FormMethod.Get))
                {
                    @Html.TextBox("Games")
                    <br />
                    <input type="submit" value="Search" style="padding: 5px 5px; margin: 5px 5px" />
                }
            </div>
            @*</div>*@
            @*</div>
                @if (Model.Count() > 0)
                {
                    <div class="col-auto" style="justify-items:right">
                        <div id="map" style="width: 520px; height: 480px; padding: 10px; color: black;"></div>
                    </div>
                }*@
        </div>
    </div>
    @*</div>*@
    @if (Model.Count() > 0)
    {
        <div class="col-auto">
            <br />
            <h6 style="text-align: center; font-size: 22px; color: white">
                The following events within 30 miles matched your search criteria:
            </h6>
            @*<table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Event Name</th>
                            <th>Event Date</th>
                            <th>Games</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="name">@item.EventName</td>
                                <td>@item.Date</td>
                                <td>@item.UnsupGames</td>
                                <td>@Html.ActionLink("Details", "Details", new { id = item.ID })</td>
                                <td hidden class="lat">@item.EventLat</td>
                                <td hidden class="long">@item.EventLong</td>
                            </tr>
                        }

                    </tbody>
                </table>*@

            <br />

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-3">
                        <div class="card" id="card">
                            <h4 class="card-title" align="center" style="--animation-order: 3;">@item.EventName</h4>
                            <p class="card-text" align="center"> Host: @Html.ActionLink(item.User.FirstName, "HostProfile", "Users", new { host = item.User.AspNetUser.Id.ToString() }, htmlAttributes: new { title = "Users" })  </p>
                            @if (item.IsPublic == true)
                            {
                                <p class="card-text" align="center"> Event type: Public</p>
                            }
                            else
                            {
                                <p class="card-text" align="center" style="font-style:italic;">Event type: Private</p>
                            }
                            <p class="card-text" align="center"> @item.Date </p>
                            <p class="card-text" align="center"> Location: @item.EventLocation </p>
                            @if (item.PlayerSlotsMax == item.PlayersCount)
                            {
                                <p class="card-text" align="center">This event is full</p>
                            }
                            @if (item.HostID == User.Identity.GetUserId())
                            {
                                <p class="card-text" align="center"> @Html.ActionLink("Edit", "Edit", new { id = item.ID }) </p>
                            }
                            @if (item.PlayersCount < item.PlayerSlotsMax)
                            {
                                <p class="card-text" align="center">  @Html.ActionLink("Details", "Details", new { id = item.ID }) </p>
                            }
                        </div>
                    </div>
                }
            </div>

        </div>
    }

</body>

<link href="~/Content/EventsList.css" rel="stylesheet" />

<script src="~/Scripts/API Scripts/SearchMapEtc.js"></script>

<script async defer
        src=@ViewBag.ApiUrl>
</script>
