@model DBD_Swim_Tracker_0._2.Models.ViewModels.AthleteDetailsViewModel

@{
    ViewBag.Title = "AthleteDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Race History and Stats for @Html.DisplayFor(model => model.AthleteName) </title>
</head>
<body>
    <div>
        <header>
            <h2>Race History and Stats for @Html.DisplayFor(model => model.AthleteName)</h2>
        </header>
        <hr />


    </div>

    <div>
        <table class="table table-hover">
            <tr>
                <th>
                    Date
                </th>

                <th>
                    Stroke
                </th>

                <th>
                    Distance
                </th>

                <th>
                    Meet Location
                </th>

                <th>
                    Time
                </th>
            </tr>

            @foreach (var result in Model.AthleteRaceTimes)
            {
        <tr>
            <td>
                @Html.DisplayFor(r => result.Event.Meet.DATE)
            </td>

            <td>
                @Html.DisplayFor(r => result.Event.STROKE)
            </td>

            <td>
                @Html.DisplayFor(r => result.Event.DISTANCE)
            </td>

            <td>
                @Html.DisplayFor(r => result.Event.Meet.LOCATION)
            </td>

            <td>
                @Html.DisplayFor(r => result.TIME)
            </td>
        </tr>
            }
        </table>
    </div>
</body>
</html>
