@model DBD_Swim_Tracker_0._2.Models.TeamRoster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeamRoster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Athlete.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athlete.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
