@model GameAndHang.Models.User
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "IndexUser";
}
<script>
    function myFunction() {
        $("#confirm").show()
    }
    function hideConfirm() {
        $("#confirm").hide()
    }
</script>
<div class="container" id="profileCard">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                @using (Html.BeginForm("IndexPhoto", "Users", FormMethod.Post, FormMethod.Post, new { enctype = "multipart/form-data", id = "file" }))
                                {
                                    if (Model.ProfilePic == null)
                                    {
                                        <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    }
                                    else
                                    {
                                        string imageBase64 = Convert.ToBase64String(Model.ProfilePic);
                                        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);

                                        <img src="@imageSrc" style="width: 150px; height: 200px" class="img-thumbnail" />
                                    }
                                    <div class="middle">
                                        <label for="files" class="btn btn-secondary" style="margin-top:6px;">Change</label>
                                        <input style="display: none;" accept="image/*" type="file" name="file" id="files" value="Change" onchange="myFunction()" />
                                        <input type="submit" class="btn btn-secondary" value="Confirm" id="confirm" style="display: none;" onclick="hideConfirm()" />
                                    </div>

                                }
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 2.5rem; font-weight: bold">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
                                <h4 class="d-block"> @Html.DisplayFor(model => model.AspNetUser.Email)</h4>
                                <h5 class="d-block">"@Html.DisplayFor(model => model.Bio)"</h5>
                                <h6 class="d-block"> Host XP:  @Model.HostXP</h6>
                                <h7 class="d-block">Level @Model.HostLevel</h7>
                                @Html.ActionLink("Edit Account Info", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                            </div>
                        </div>
                    </div>
                    <div class="nav-pills" id="navPills">
                        <ul class="nav nav-pills">
                            <li class="active"><a id="tab" data-toggle="pill" href="#hostedEvents"> Events </a></li>
                            <li><a id="tab" data-toggle="pill" href="#signedUpEvents"> Hosted Events </a></li>
                            <li><a id="tab" data-toggle="pill" href="#upcomingEvents"> Upcoming Events </a></li>
                            <li><a id="tab" data-toggle="pill" href="#"> Friends List </a></li>
                            <li><a id="tab" data-toggle="pill" href="#Review"> Leave a Review </a></li>
                            <li><a id="tab" data-toggle="pill" href="#displayReview"> Host Reviews </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="tab-content">
    @if (Model.EventPlayers.Count() > 0)
    {
        <div id="hostedEvents" class="tab-pane fade in active">
            <hr />
            <h4>Events that @Html.DisplayFor(model => model.FirstName) is Signed Up For:</h4>
            <br />
            <table class="table-hover">
                <tr>
                    <th>Event Name</th>
                    <th>Event Date/Time</th>
                    <th>Event Location</th>
                    <th>Event Description</th>
                </tr>
                @foreach (var eventPlayer in Model.EventPlayers)
                {
                    <tr>
                        <td>@Html.DisplayFor(e => eventPlayer.Event.EventName)</td>
                        <td>@Html.DisplayFor(e => eventPlayer.Event.Date)</td>
                        <td>@Html.DisplayFor(e => eventPlayer.Event.EventLocation)</td>
                        <td>@Html.DisplayFor(e => eventPlayer.Event.EventDescription)</td>
                        <td>@Html.ActionLink("Details", "Details", "Events", new { id = eventPlayer.EventID }, "")</td>
                    </tr>
                }
            </table>
        </div>
    }

    @if (Model.Events.Count() > 0)
    {
        <div id="signedUpEvents" class="tab-pane fade in active">
            <hr />
            <h4>Events that @Html.DisplayFor(model => model.FirstName) is Hosting:</h4>
            <br />
            <table class="table-hover">
                <tr>
                    <th>Event Name</th>
                    <th>Event Date/Time</th>
                    <th>Event Location </th>
                    <th>Event Description</th>
                </tr>
                @foreach (var hostedEvent in Model.Events)
                {
                    <tr>
                        <td>@Html.DisplayFor(e => hostedEvent.EventName)</td>
                        <td>@Html.DisplayFor(e => hostedEvent.Date)</td>
                        <td>@Html.DisplayFor(e => hostedEvent.EventLocation)</td>
                        <td> @Html.DisplayFor(e => hostedEvent.EventDescription)</td>
                        <td> @Html.ActionLink("Details", "Details", "Events", new { id = hostedEvent.ID }, "") </td>
                        <td>@Html.ActionLink("Edit", "Edit", "Events", new { id = hostedEvent.ID }, "")</td>
                    </tr>
                }
            </table>
        </div>
    }

    @if (Model.Events.Count() > 0)
    {
        <div id="upcomingEvents" class="tab-pane fade in active">
            <hr />
            <h4>@Html.DisplayFor(model => model.FirstName)'s Upcoming Events:</h4>
            <br />
            <table class="table-hover">
                <tr>
                    <th>Event Name</th>
                    <th>Event Date/Time</th>
                    <th>Event Location</th>
                    <th>Event Description</th>
                </tr>

                @foreach (var hostedEvent in Model.Events)
                {
                    if (hostedEvent.Date <= DateTime.Now.AddDays(30) && hostedEvent.Date > DateTime.Now.AddDays(-1))
                    {
                        <tr>
                            <td>@Html.DisplayFor(e => hostedEvent.EventName)</td>
                            <td>@Html.DisplayFor(e => hostedEvent.Date)</td>
                            <td>@Html.DisplayFor(e => hostedEvent.EventLocation)</td>
                            <td>@Html.DisplayFor(e => hostedEvent.EventDescription)</td>
                            <td>@Html.ActionLink("Details", "Details", "Events", new { id = hostedEvent.ID }, "")</td>
                            <td>@Html.ActionLink("Edit", "Edit", "Events", new { id = hostedEvent.ID }, "")</td>
                        </tr>
                    }
                }
            </table>
        </div>
    }
    @using (Html.BeginForm("ReviewCreate", "Reviews", FormMethod.Get))
    {
        <div id="Review" class="tab-pane fade in active">
            <div class="form-horizontal" id="myForm" method="post" name="review">
                <div class="control-group">
                    <label class="control-label tab-pane fade in active">Review</label>
                    <div class="form-group">
                        <textarea rows="10" style="width:600px" id="reviewAnswer" name="review"></textarea>
                    </div>
                    @Html.HiddenFor(i => i.ID)
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div id="displayReview" class="tab-pane fade in active">
        <ul>
            @foreach (var item in ViewBag.Reviews)
            {
                <li> @item</li>
            }
        </ul>
    </div>
</div>

<style>
    .card-body {
        background-color: #08415C;
        background-size: 700px;
        border-style: solid;
    }

    .table-hover {
        margin: 20px;
    }

    tr {
        margin: 20px;
    }

    th {
        margin: 20px;
        min-width: 75px;
        padding-right: 20px;
    }

    td {
        margin: 20px;
        min-width: 75px;
        padding-right: 20px;
    }

    #profileCard {
        margin-top: 25px;
        color: white;
    }

    #editProfile {
        margin-left: 5px;
    }

    body {
        background-color: #93B7BE
    }

    .body-content {
        padding-left: 15px;
        padding-right: 15px;
        color: black;
    }

    #tab {
        background-color: Highlight;
        margin-left: 8px;
        color: black;
        border-radius: 5%;
        padding: 5px;
        font-size: 24px;
    }

    #navPills {
        margin: auto;
        width: 90%;
    }
</style>


