@model DBD_Swim_Tracker_0._2.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meet.LOCATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meet.LOCATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTANCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTANCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STROKE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STROKE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AGEGROUP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGEGROUP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GENDER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GENDER)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
